{% extends 'base.html' %}

{% block title %}
    {% if 'add_cash' in request.path %}
        Add Cash - Expense Tracker
    {% else %}
        Add Expense - Expense Tracker
    {% endif %}
{% endblock %}

{% block content %}
<style>
    .form-row label {
        margin-bottom: 5px;
        color: #666;
        text-align: left;
        font-weight: bold;
        display: block;
    }
    
    .form-row input, .form-row select, .form-row textarea {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        background-color: transparent;
    }
    
    .form-row input:focus,
    .form-row select:focus,
    .form-row textarea:focus {
        border-color: #007bff;
        outline: none;
    }
</style>
<div class="form-container">
    <h2 class="text-center mb-4">
        {% if 'add_cash' in request.path %}
            Add Cash
        {% else %}
            Add Expense
        {% endif %}
    </h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            {{form}}

        </div>
        <button type="submit" class="btn btn-primary w-100">
            {% if 'add_cash' in request.path %}
                Add Cash
            {% else %}
                Add Expense
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}